@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(#1c1917, #2aff6a);
}

.container {
  font-size: 2rem;
  width: auto;
  padding: 3rem 1rem;
  background-color: #263855;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6rem;
  box-shadow: 1.2rem 2rem 3rem rgba(0, 0, 0, 0.3);
}

.search-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 1.2rem;
}

.search-container input,
.search-container button {
  font-size: 0.9rem;
  outline: none;
  border-radius: 0.3rem;
}

.search-container input {
  background-color: transparent;
  border: 1px solid #fff ;
  color: #fff;
  padding-left: 0.5rem;
}

.search-container input:focus {
  border-color: #2aff6a;
}

.search-container button {
  background-color: #2aff6a;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

#result {
  color: #fff;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin-top: 1.2rem;
}

.poster {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin: 0.6rem 0 0.9rem 0;
}

.rating img {
  width: 1.2rem;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.95rem;
  gap: 1rem;
  justify-content: center;
  color: #a0a0a0;
  margin: 0.6rem 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
}

.genre div {
  border: 1px solid #2aff6a;
  font-size: 1rem;
  font-weight: 800;
  padding: 2rem 2rem;
  border-radius: 1rem;
}

h3 {
  font-weight: 500;
  margin-top: 1.2rem;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: justify;
  color: #a0a0a0;
}

.msg {
  text-align: center;
}

/* ==================== MEdia Queries =============================================*/
@media screen and (max-width: 1140px) {
  .genre {
    display: grid;
    gap: 1rem;
  }
}

/* ==================== MEdia Queries =============================================*/

@media screen and (max-width: 576px) {
  .container {
    width: 98%;
    font-size: 1.4rem;
    padding: 0.8rem;
    background-color: #263855;
    box-shadow: 1.2rem 2rem 3rem rgba(0, 0, 0, 0.4);
  }

  .search-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .search-container input,
  .search-container button {
    width: 100%;
    font-size: 0.9rem;
    border-radius: 0.5rem;
  }

  .search-container input {
    background-color: transparent;
    border: 0.5px solid #a0a0a0;
    color: #fff;
  }

  .search-container input:focus {
    border-color: #2aff6a;
  }

  .search-container button {
    background-color: #2aff6a;
    border: none;
    cursor: pointer;
  }

  #search-btn,
  #movie-name {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0.7rem;
  }

  .poster {
    margin: auto;
    width: auto;
    max-height: 12rem;
  }

  .info {
    margin: 0.5rem;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details {
    display: grid;
    color: #a0a0a0;
    font-weight: 500;
  }

  .genre {
    display: grid;
    justify-content: space-around;
    gap: 0.5rem;
  }

  .genre div {
    border: 1px solid #2aff6a;
    font-size: 0.75rem;
    padding: 0.4rem 1.6rem;
    border-radius: 0.4rem;
    font-weight: 300;
  }

  h3 {
    font-weight: 500;
    margin-top: 0.8rem;
  }

  p {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1.5rem;
    text-align: justify;
    color: #a0a0a0;
  }
}
